{% set selenium_verbose = unhangout_testing_selenium_verbose and 'true' or 'false' -%}
{
    "UNHANGOUT_GOOGLE_CLIENT_ID": "{{ google_client_id }}",
    "UNHANGOUT_GOOGLE_CLIENT_SECRET": "{{ google_client_secret }}",
    "UNHANGOUT_SESSION_SECRET": "{{ unhangout_session_secret }}",
    "UNHANGOUT_EVENTS_SPREADSHEET": "{{ google_spreadsheet_key }}",

    "UNHANGOUT_PORT": {{ unhangout_https_port }},
    "UNHANGOUT_HOST": "{{ www_domain }}",

    "UNHANGOUT_REDIS_HOST": "{{ redis_host }}",
    "UNHANGOUT_REDIS_PORT": {{ redis_port }},
    "UNHANGOUT_REDIS_DB": {{ redis_db }},

    "UNHANGOUT_SMTP": {
        "host": "localhost",
        "port": "2525",
        "secureConnection": false
    },

    "UNHANGOUT_SERVER_EMAIL_ADDRESS": "{{ unhangout_server_email_address }}",

    "UNHANGOUT_SUPERUSER_EMAILS": {{ unhangout_superuser_emails|replace("'", '"') }},
    "UNHANGOUT_MANAGERS": {{ unhangout_managers|replace("'", '"') }},

    "UNHANGOUT_HANGOUT_APP_ID": {{ google_project_id }},
    "UNHANGOUT_HANGOUT_ORIGIN_REGEX": "^https://[-a-z0-9]+hangout-opensocial.googleusercontent.com$",

    "UNHANGOUT_USE_SSL": true,
    "UNHANGOUT_REDIRECT_HTTP": false,
    "UNHANGOUT_PRIVATE_KEY": "/etc/pki/tls/private/{{ ssl_domain }}.key",
    "UNHANGOUT_CERTIFICATE": "/etc/pki/tls/certs/{{ ssl_domain }}.crt",

    "EMAIL_LOG_RECIPIENTS": {{ unhangout_email_log_recipients|replace("'", '"') }},
    "UNHANGOUT_LOG_DIR": "/var/log/node/unhangout-{{ unhangout_domain }}",
    "TESTING_SELENIUM_PATH": "{{ unhangout_testing_selenium_path }}",
    "TESTING_SELENIUM_VERBOSE": {{ selenium_verbose }},
    "TESTING_FIREFOX_BIN": "{{ unhangout_testing_firefox_bin }}",
    "MANDRILL_API_KEY": "{{ unhangout_mandrill_api_key }}",

    "CUSTOM_CSS_FILES": {{ unhangout_custom_css_files|replace("'", '"') }},
    "CUSTOM_FACILITATOR_CSS_FILES": {{ unhangout_custom_facilitator_css_files|replace("'", '"') }}
}
