APP=/usr/local/node/unhangout-{{ unhangout_domain }}/bin/unhangout-server
LOGFILE=/var/log/node/unhangout-{{ unhangout_domain }}/console.log
NODE_ENV={{ unhangout_node_env }}
{% if server_env == 'development' -%}
NODE_USER="root"
{% endif -%}
