{
"serverUrl": "https://{{ www_domain }}:{{ unhangout_https_port }}",
  "email": "{{ unhangout_farming_email }}",
  "password": "{{ unhangout_farming_password }}",
  "count": {{ unhangout_farming_count }}
}
