# This file contains all variables that are referenced in other SLS files
# which may be customized.
#
# NOTE: Do not customize the variables here! Do so in an appropriate pillar
# or grain file, see Salt documentation for details: http://docs.saltstack.com

# Private variables.
{% set _default_https_port = '7778' %}

# Server environment.
{% set server_env = salt['grains.get']('server:env', 'development') %}
{% set server_type = salt['grains.get']('server:type', '') %}

# Unhangout configuration variables. Descriptions for most of these can be
# found at
# https://github.com/unhangout/unhangout/blob/master/INSTALLATION.md#d-configuration
{% set google_client_id = salt['pillar.get']('service:unhangout:google:client_id', '') -%}
{% set google_client_secret = salt['pillar.get']('service:unhangout:google:client_secret', '') -%}
{% set google_project_id = salt['pillar.get']('service:unhangout:google:project_id', '') -%}
{% set google_spreadsheet_key = salt['pillar.get']('service:unhangout:google:spreadsheet_key', '... google spreadsheet key ...') -%}
{% set unhangout_session_secret = salt['pillar.get']('service:unhangout:session_secret', 'sessionsecret') -%}
{% set unhangout_server_email_address = salt['pillar.get']('service:unhangout:server_email_address', 'node@yourserver.example.com') -%}
{% set unhangout_superuser_emails = salt['pillar.get']('service:unhangout:superuser_emails', []) -%}
{% set unhangout_managers = salt['pillar.get']('service:unhangout:managers', []) -%}
{% set unhangout_email_log_recipients = salt['pillar.get']('service:unhangout:email_log_recipients', []) -%}
{% set unhangout_domain = salt['pillar.get']('service:unhangout:domain', 'localhost') -%}
{% set unhangout_https_port = salt['pillar.get']('service:unhangout:https_port', _default_https_port) -%}
{% set unhangout_localhost_port = salt['pillar.get']('service:unhangout:localhost_port', _default_https_port) -%}
# NOTE: service:unhangout:testing:selenium:version can be set in pillar data,
# to override the installed version of the standalone server. The default
# value is declared in service/unhangout/test/init.sls.
{% set unhangout_testing_selenium_path = salt['pillar.get']('service:unhangout:testing:selenium:path', '/usr/local/lib/selenium-server-standalone.jar') -%}
{% set unhangout_testing_selenium_verbose = salt['pillar.get']('service:unhangout:testing:selenium:verbose', false) -%}
{% set unhangout_testing_firefox_bin = salt['pillar.get']('service:unhangout:testing:firefox:bin', '/usr/bin/firefox') -%}
{% set unhangout_mandrill_api_key = salt['pillar.get']('service:unhangout:mandrill:api_key', '... mandrill api key ...') -%}

# Unhangout server configuration.
# The node.js environment to run under, can be one of 'testing', 'production'.
{% set unhangout_node_env = salt['pillar.get']('service:unhangout:node_env', 'testing') -%}
# Git URL for the unhangout checkout.
{% set unhangout_git_url = salt['pillar.get']('service:unhangout:git:url', 'https://github.com/unhangout/unhangout.git') -%}
# Git branch for the unhangout checkout.
{% set unhangout_git_branch = salt['pillar.get']('service:unhangout:git:branch', 'master') -%}

# Unhangout auto farming configuration.
{% set unhangout_farming_email = salt['pillar.get']('service:unhangout:farming:email', '... google email address ...') -%}
{% set unhangout_farming_password = salt['pillar.get']('service:unhangout:farming:password', '... google password ...') -%}
{% set unhangout_farming_count = salt['pillar.get']('service:unhangout:farming:count', 10) -%}
# What hour to run the autofarming, uses 24 hour format, hour only, based on
# server clock.
{% set unhangout_farming_hour = salt['pillar.get']('service:unhangout:farming:hour', 3) -%}

# Network.
# The server ID, set by the salt minion config file - must be edited there.
{% set server_id = grains['id'] -%}

# SSH.
# Port to run the SSH daemon on.
{% set sshd_port = salt['pillar.get']('service:sshd:port', 22) -%}

# Nginx.
# HTTP port to listen on.
{% set nginx_http_port = salt['pillar.get']('service:nginx:http_port', '8080') -%}
# HTTPS port to listen on.
{% set nginx_https_port = salt['pillar.get']('service:nginx:https_port', _default_https_port) -%}
# Setting this will look for a file named [nginx_custom_domain].conf.jinja in
# salt/etc/nginx/conf.d, and configure /etc/nginx/conf.d/[nginx_custom_domain].conf
# on the server. See salt/service/nginx/init.sls for details, and
# salt/etc/nginx/conf.d/example.com.conf.jinja for an example configuration.
{% set nginx_custom_domain = salt['pillar.get']('service:nginx:custom_domain') -%}

# Redis.
# URL of the database host.
{% set redis_host = salt['pillar.get']('service:redis:host', '127.0.0.1') -%}
# Port of the database host.
{% set redis_port = salt['pillar.get']('service:redis:host', '6379') -%}
# Database to write to on the database host.
{% set redis_db = salt['pillar.get']('service:redis:db', '0') -%}

# Firewall.
# The native Salt implementation of iptables is poor as of the version when
# this variable was added. As such, it's provided here as a way to inject any
# custom configuration into the firewall. Should be an array of paths
# (relative from the salt file root) to Jinja templates that will be injected
# into the default firewall config using Jinja's include directive.
{% set firewall_custom_configs = salt['pillar.get']('service:firewall:custom_configs', []) -%}

